<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>動画検索</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <h1>動画検索</h1>
    <form action="/search" method="post" class="search-wrapper cf">
        <input type="text" name="query" placeholder="検索ワードを入力してください" required="">
        <button type="submit">検索</button>
    </form>

    <div class="container">
        <a href="/" class="button">トップページに戻る</a>
    </div>
</body>
</html>
